@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  src: url(../font/Roboto-Regular.woff) format("woff"),
    url(../font/Roboto-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-display: swap;
  src: url(../font/Roboto-Medium.woff) format("woff"),
    url(../font/Roboto-Medium.woff2) format("woff2");
}
* {
  font-family: "Roboto",sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1232px;
  margin: 0 auto;
}
.stays{
  color: #ffffff;
  font-size: 24px;
}
.attractions{
  color: #ffffff;
  font-size: 24px;
}

.stays-underline{
  border: none;
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background: #f5bd41;
}
.page-header{
  background-image: url(/if-html/image/castelmezzano-1979546.png);
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  background-position: center;
}
.page-header__navbar{
  padding-top: 51px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 343px;
  justify-content: flex-start;
}
.account{
  margin-left: 24px;
}
.night{
  margin-left: 48px;
}
.attractions{
  margin-left: 24px;
}
.stays-underline{
  border: none;
  width: 50px;
  margin-left: 5px;
  height: 2px;
  background: #f5bd41;
}
.header__title{
  margin-top: 196px;
  font-weight: 500;
  font-size: 50px;
  max-width: 542px;
  max-height: 118px;
  color: rgb(255, 255, 255);
}
.tabname{
  display: flex;
  max-width: 675px;
  justify-content: space-between;
  margin-top: 100px;
}
.destination-hotel{
  font-size: 18px;
  color: #fff;
  margin-left: 24px;
}
.check{
  font-size: 18px;
  color: #fff;
}
.table-searchbox{
  width: 1223px;
  height: 64px;
  margin-top: 24px;
  background-color: rgb(255, 255, 255);
  border-radius:8px;
}
.destination{
  font-size: 18px;
  width: 465px;
  height: 63px;
  text-align: center;
  vertical-align: middle;
  border: aliceblue;
}
.date{
  font-size: 18px;
  width: 255px;
  height: 63px;
  border: -6px; 
  border-radius: 8px;
  border-color: #F5BD41;
}
.people{
  font-size: 18px;
  width: 300px;
  height: 63px;
  text-align: center;
  vertical-align: middle;
  border: aliceblue;
}
.search{
  font-weight: 500;
  font-size: 24px;
  width: 190px;
  height: 63px;
  text-align: center;
  vertical-align: middle;
  background-color: #3077C6;
  border-radius: 8px;
  color: #ffffff;
}
.store{
  display: flex;
  width: 270px;
  height: 40px;
  margin-top: 120px;
  margin-left: 480px;
  justify-content: space-between;
}
.offer {
  padding: 120px 0px;
  width: 100%;
}
.title {
  font-weight: 500;
  font-size: 40px;
}
.title-underline {
  border: none;
  width: 100px;
  height: 4px;
  margin: 0 auto;
  background: #f5bd41;
  margin-top: 20px;
}
.text-center {
  text-align: center;
}
.offers-list {
  display: flex;
}
.images-wrapper {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 48px;
}
.item {
  width: 25%;
  text-align: center;
}
.item-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.list {
  font-size: 20;
  font-weight: 400;
}
.top-text {
  font-size: 20;
  font-weight: 500;
}
.footer {
  background: #10367c;
}
.columns {
  display: flex;
}
.column {
  width: 33%;
}
ul {
  list-style-type: none;
  font-size: 20px;
  line-height: 23px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #fce1e1;
}
a:active {
  color: #d7faeb;
}
.text-top {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
li {
  margin-top: 24px;
}
.inc {
  font-size: 14px;
  color: #ffffff;
  padding-top: 64px;
}
